<h1 class="intro_title"> Задача о ранце - это </h1>
<p class="intro_subtitle"> пример задачи комбинаторной оптимизации, тема в математике и информатике о поиске оптимального объекта среди набора объектов. На сегодняшний день история исследований этой проблемы насчитывает более века. Она является часто используемым примером проблемы комбинаторной оптимизации, в котором требуется найти оптимальный объект или конечное решение, где исчерпывающий поиск невозможен. Исследование решений задачи о рюкзаке имеет очень важное практическое значение. Проблема может быть обнаружена в реальной жизни. Как пример можно взять распределение ресурсов при финансовых ограничениях, при планировании работ, составлении бюджета капиталовложений, принятии инвестиционных решений, упаковке грузов. Её также можно найти в таких областях, как прикладная математика, теория сложности, криптография, комбинаторика и информатика.</p>
<ul >
  <li >
    <button class = "button_theory" style="margin-left: 0px" ><a class= "ahref" href="/methods">Узнать подробнее о методах решения</a></button>
  </li>
</ul>

